body {
  background-color: #e7e9ec;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  width: 1200px;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
}

.main-content {
  padding: 100px 90px;
}

.main-content-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 0 0 10px 0;
}

.about-me {
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 0 0 20px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 0 0 25px 0;
}

.about-me-desc {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects {
  margin-bottom: 50px;
}

.my-projects-list {
  padding: 0 0 0 17;
}

.my-projects-item {
  color: black;
  font-weight: bold;
}

.my-projects-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/*work experience div*/

.my-work-experience-place {
  margin: 0 15px 0 0;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}

.my-work-experience-corp {
  color: #fb6d3a;
}

.my-work-experience-duration {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-experience-separator {
  color: black;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/*my education div*/

.my-education-place {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  padding: 0 0 10px 0;
}

.my-education-spec {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0 0 10px 0;
}

.my-education-duration {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-education-separator {
  color: black;
}

/* SIDEBAR */

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

/*sidebar avatar*/
.sidebar-avatar {
  display: block;
  margin: 0 auto 0 auto;
  width: 250px;
  border: 4px double #a8a8a8;
  border-radius: 5px;

  animation-name: sidebar-avatar-border-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*sidebar avatar animation test*/

@keyframes sidebar-avatar-border-anim {
  0% {
    border: 4px double #a8a8a8;
  }
  50% {
    border: 4px double #565e6a;
  }
  100% {
    border: 4px double #a8a8a8;
  }
}

.contact-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px;
}

.contact-section-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 5px;
}

.contact-section-value {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.sidebar-section-title {
  /*title font style*/

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: white;

  margin-bottom: 10px;
}

.sidebar-list {
  padding-left: 17px;
}

.sidebar-list-item {
  color: #fb6d3a;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.sidebar-list-item-text {
  color: white;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* li {
  background-color: #fff;
  color: #595959;
  font-size: 14px;
  line-height: 24px;
}
.projects-item {
  color: yellow;
} */ ;
